[Unit]
Description=Library access control module

[Service]
Type=idle
User=pi
WorkingDirectory=/usr/share/perl5
ExecStart=/usr/bin/perl Authenticator.pm

RestartSec=5s
Restart=always
PrivateTmp=yes
