[Unit]
Description=Library access control module

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/authenticator/lib
ExecStart=/usr/bin/perl Authenticator.pm

RestartSec=5s
Restart=always
PrivateTmp=yes
