Source: authenticator
Section: misc
Priority: optional
Maintainer: Joonas Kylmälä <joonas.kylmala@jns.fi>
Standards-Version: 3.9.5
Build-Depends: debhelper (>=9), perl, libtest-simple-perl,
 libtest-mockmodule-perl, libmodern-perl-perl, libconfig-simple-perl,
 libdbm-deep-perl, libwww-perl, libjson-perl, libsys-sigaction-perl,
 libdatetime-perl, libdatetime-format-http-perl, libdigest-sha-perl,
 libsystemd-dev, libemb-gpio-perl, libemb-buzzer-perl

Package: authenticator
Architecture: armhf
Multi-Arch: foreign
Depends: perl, libmodern-perl-perl, libconfig-simple-perl,
 libdbm-deep-perl, libwww-perl, libjson-perl, libsys-sigaction-perl,
 libdatetime-perl, libdatetime-format-http-perl, libdigest-sha-perl,
 cpanminus, libsystemd-dev, libemb-gpio-perl, libemb-buzzer-perl
Standards-Version: 3.9.5
Description: self service library access control daemon
 Authenticator is self service library access control
 system daemon that you can use for controlling patron
 access to a library. It uses Koha to fetch the access
 information.