[Unit]
Description=Library access control module

[Service]
Type=idle
User=root
WorkingDirectory=/usr/local/share/perl/5.20.2/
ExecStart=/usr/bin/perl SSAuthenticator.pm

RestartSec=5s
WatchdogSec=35s
Restart=always

PrivateTmp=yes

[Install]
WantedBy=multi-user.target

