[Unit]
Description=Library access control module

[Service]
Type=idle
User=root
ExecStart=/usr/local/bin/ssauthenticator

RestartSec=5s
WatchdogSec=35s
Restart=always

PrivateTmp=yes

[Install]
WantedBy=multi-user.target

