[Unit]
Description=Library access control module

[Service]
Type=idle
User=root
ExecStart=/usr/local/bin/ssauthenticator

#Monitoring agents can better detect the failed states, when they typically poll every minute.
RestartSec=60s
Restart=always

PrivateTmp=yes

[Install]
WantedBy=multi-user.target

